




@{
    ViewBag.Title = "Confirmación Olvido de Contraseña";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>


<body class="page-login">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="loginContentWrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">

                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = " data-parsley-validate", role = "form" }))
                    {
                        <div>
                            <h1>Por favor revise su cuenta de correo electrónico para resetear su contraseña.</h1>
                        </div>
                    }
                   
                </div>
            </div>
        </div>
    </div>


</body>







