@{
    ViewBag.Title = "Confirmación Reseteo Contraseña";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Su contraseña ha sido reseteada. Please @Html.ActionLink("Haga clic aquí para iniciar sesión.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>


